{% extends "base.html" %}

{% block title %}Домашняя - Лицейский портал{% endblock %}

{% block content %}
<!-- Navigation Bar for additional navigation such as categories -->
<nav class="navbar navbar-expand-md navbar-secondary bg-secondary">
  {% for category in categories %}
    <a class = "navbar-brand text-light" href="category/{{ category.slug }}">{{ category.title }}</a>
  {% endfor %}
</nav>
<div class="row">
  <!-- Main content area for articles -->
  <div class="col-md-8">
    {% if articles %}
      {% for article in articles %}
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ article.title }}</h4>
          <p class="card-text">{{ article.summary }}</p>
          <a href="{{ url_for('article_detail', article_id=article.id) }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>Пока что нет статей</p>
    {% endif %}
  </div>
</div>
{% endblock %}
